/* root variables */
:root {
  --_font: serif;
  --_size: 1.5rem;
  --_hue: 274;
  
  /* light mode */
  --bg-light: var(--_hue) 0% 100%;
  --txt-light: var(--_hue) 0% 0%;
  --accent-light: var(--_hue) 93% 62%;

  /* dark mode */
  --bg-dark: var(--_hue) 0% 0%;
  --txt-dark: var(--_hue) 0% 100%;
  --accent-dark: var(--_hue) 93% 62%;

  /* toastify */
  --toastify-color-error: hsl(var(--accent));
}

/* color-scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --txt: var(--txt-dark);
    --accent: var(--accent-dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --txt: var(--txt-light);
    --accent: var(--accent-light);
    color-scheme: light;
  }
}

[color-scheme="dark"] {
  --bg: var(--bg-dark);
  --txt: var(--txt-dark);
  --accent: var(--accent-dark);
  color-scheme: dark;
}

[color-scheme="light"] {
  --bg: var(--bg-light);
  --txt: var(--txt-light);
  --accent: var(--accent-light);
  color-scheme: light;
}

/* stripping defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--_font);
}

.App {
  max-width: 425px;
  margin: 0 auto;
}

/* disabling icon pointer events */
.icon {
  pointer-events: none;
}

/* navbar styles */
.navbar {
  padding: var(--_size);
}

.navbar, .customiser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: hsl(var(--bg)); */
  color: hsl(var(--txt));
}

.customiser {
  flex-direction: column;
  gap: calc(var(--_size) * .2);
}

/* font-toggle */
/* .fonts-selector {
  position: relative;
  font-size: var(--_size);
}

.fonts-selector .fonts {
  display: flex;
  align-items: center;
  gap: calc(var(--_size) * .3);
  cursor: pointer;
}

.fonts-selector .font-toggle {
  position: absolute;
  width: calc(var(--_size) * 5.5);
  height: calc(var(--_size) * 3);
  padding: calc(var(--_size) * .5)  calc(var(--_size) * 0);
  top: var(--_size);
  border-radius: .5em;
  box-shadow: .1em .1em .2em hsl(var(--txt));
}

.fonts-selector .font-toggle p {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: calc(var(--_size) * .3);
}

.fonts-selector .font-toggle p span {
  pointer-events: none;
} */

.fonts-selector .fonts {
  display: flex;
  align-items: center;
  gap: calc(var(--_size) * .2);
}

.font-toggle {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  background: hsl(var(--bg));
  padding: var(--_size);
  z-index: 2;
}

.font-toggle p {
  display: flex;
  gap: calc(var(--_size) * .2);
}

.font-selected {
  color: hsl(var(--accent));
}

/* mode-toggle */
.colorMode-selector {
  display: flex;
  align-items: center;
  gap: calc(var(--_size) * .3);
}

/* search bar */
.search {
  padding-inline: var(--_size);
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--_size) * 1.5);
  color: hsl(var(--accent));
  transition: right 1s ease;
}

.search input[type="search"] {
  width: 100%;
  padding-block: calc(var(--_size) * .2);
  padding-inline: calc(var(--_size) * .6);
  border-radius: calc(var(--_size) * .2);
  font-size: var(--_size);
  border: none;
  background-color: hsl(var(--txt) / .1);
}

.search input[type="search"]:focus-visible,
.search input[type="search"]:hover {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.wordHeader {
  display: flex;
  justify-content: space-between;
  padding: var(--_size);
}

.wordHeader .wordWrapper p {
  font-size: calc(var(--_size) * 1.25);
  font-weight: bold;
}

.wordHeader .wordWrapper i {
  color: hsl(var(--accent));
}

.wordHeader button {
  background: transparent;
  border: none;
}

.wordHeader .icon {
  color: hsl(var(--accent));
  width: calc(var(--_size) * 2);
  height: calc(var(--_size) * 2);
}

/* meaning */

.meaning {
  position: relative;
  margin-inline: var(--_size);
  border-top: 2px solid hsl(var(--txt) / .1);
  padding-block: var(--_size);
}

.partOfSpeech {
  position: absolute;
  background-color: hsl(var(--bg));
  padding: 1px;
  padding-right: 5px;
  top: calc(var(--_size) * -0.65);
  left: 0;
}

.meaning h3 {
  color: hsl(var(--txt) / .3);
}

.meanings {
  padding: var(--_size);
  padding-left: calc(var(--_size) * 2);
  color: hsl(var(--txt) / .6);
}

.meaning li {
  margin-block: calc(var(--_size) * .4);
}

.meaning :first-child {
  margin-top: 0;
}

.synonyms {
  display: flex;
  justify-content: space-between;
  gap: var(--_size);
  align-items: center;
}

.synonym {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0 var(--_size);
  color: hsl(var(--accent));
}

.synonym p {
  cursor: pointer;
}

.source {
  margin-inline: var(--_size);
  border-top: 2px solid hsl(var(--txt) / .1);
  padding-block: var(--_size);
  display: flex;
  gap: var(--_size);
  justify-content: space-between;
  align-items: center;
}

.source h3 {
  color: hsl(var(--txt) / .3);
}

.source p {
  color: hsl(var(--txt) / .7);
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}